body {
}
input {
	border-radius: 5px;
	padding: 10px;
	background: lightgrey;
	margin: 5px;
}
.login {
	margin: auto;
	text-align: center;
}
.modal .modal-dialog {
    width: 25%; /* or whatever you wish */
    text-align: center;
}
.frgtpswrd {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}
.inputbox {
    text-align: center;
}
.loginBtn {
    text-align: right;
    padding-right: 4em;
}